<%= form_for(@order, url: OrdersController::Home_Page+@order.id.to_s) do |f| %>
  <% if @order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
      <% @order.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'SDT' %><br>
    <%= f.text_field :phone %>
  </div>
  <div class="field">
    <%= f.label 'Ten Khach' %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label 'Ma Sp' %><br>
    <%= f.number_field :product_id %>
  </div>
    <div class="field">
      <%= f.label 'Ten SP' %><br>
      <%= f.text_field :product_title %>
    </div>
  <div class="field">
    <%= f.label :facebook %><br>
    <%= f.text_field :facebook %>
  </div>
  <div class="field">
    <%= f.label 'Dia chi' %><br>
    <%= f.text_area :address %>
  </div>
  <div class="field">
    <%= f.label 'so luong data' %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label 'gia' %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label 'luu y chuyen hang' %><br>
    <%= f.text_area :instruction %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
