<p id="notice"><%= notice %></p>

<p>
  <strong>SDT:</strong>
  <%= @order.phone %>
</p>

<p>
  <strong>Ten:</strong>
  <%= @order.name %>
</p>

<p>
  <strong>Ma SP:</strong>
  <%= @order.product_id %>
</p>

<p>
  <strong>Ten SP:</strong>
  <%= @order.product_title %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @order.facebook %>
</p>

<p>
  <strong>Dia Chi:</strong>
  <%= @order.address %>
</p>

<p>
  <strong>So Luong:</strong>
  <%= @order.quantity %>
</p>

<p>
  <strong>Gia:</strong>
  <%= @order.price %>
</p>

<p>
  <strong>Huong dan cua khach hang:</strong>
  <%= @order.instruction %>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
