<%= form_for(@product, url: ProductsController::Home_Page+@product.id.to_s) do |f| %>
  <% if @product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% @product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'tên' %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label 'miêu tả' %><br>
    <%= f.text_area :description %>
  </div>
  <div class="field">
    <%= f.label 'thể loại' %><br>
    <%= f.text_field :category %>
  </div>
  <div class="field">
    <%= f.label 'link ảnh' %><br>
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label 'số lượng' %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label 'giá' %><br>
    <%= f.number_field :price %>
  </div>
  <div class="field">
    <%= f.label 'đơn vị' %><br>
    <%= f.text_field :unit %>
  </div>
  <div class="field">
    <%= f.label 'mới?' %><br>
    <%= f.check_box :isNew %>
  </div>
  <div class="field">
    <%= f.label 'số like' %><br>
    <%= f.number_field :likeNo %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
